<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="SA45_Team09_LogicUEntities" connectionString="metadata=res://*/Models.SA45_Team09_LogicUEntities.csdl|res://*/Models.SA45_Team09_LogicUEntities.ssdl|res://*/Models.SA45_Team09_LogicUEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SA45_Team09_LogicU;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization
              serviceAuthorizationManagerType ="Team09LogicU.AndroidServices.RestAuthorizationManager,Team09LogicU"></serviceAuthorization>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Team09LogicU.AndroidServices.Service1" >
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="Team09LogicU.AndroidServices.IService1" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Team09LogicU.AndroidServices.DisbursementListService" behaviorConfiguration="metadataBehavior">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="Team09LogicU.AndroidServices.IDisbursementListService" />
        <endpoint address="mex"  binding="mexHttpBinding" contract="IMetadataExchange" />
       
      </service>
      <service name="Team09LogicU.AndroidServices.LoginService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="Team09LogicU.AndroidServices.ILoginService"/>
        <endpoint address="mex" binding="mexHttpBinding"  contract="IMetadataExchange"/>
      </service>
      <service name="Team09LogicU.AndroidServices.DisbursementListItemService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="Team09LogicU.AndroidServices.IDisbursementListItemService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Team09LogicU.AndroidServices.RetrievalFormService" behaviorConfiguration="metadataBehavior">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="Team09LogicU.AndroidServices.IRetrievalFormService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Team09LogicU.AndroidServices.RetrievalFormItemService" behaviorConfiguration="metadataBehavior">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="Team09LogicU.AndroidServices.IRetrievalFormItemService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Team09LogicU.AndroidServices.AdjustmentVoucherService" behaviorConfiguration="metadataBehavior">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="Team09LogicU.AndroidServices.IAdjustmentVoucherService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Team09LogicU.AndroidServices.AdjustmentVoucherItemService" behaviorConfiguration="metadataBehavior">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="Team09LogicU.AndroidServices.IAdjustmentVoucherItemService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Team09LogicU.AndroidServices.ItemService" behaviorConfiguration="metadataBehavior">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="Team09LogicU.AndroidServices.IItemService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Team09LogicU.AndroidServices.DeptStaffService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="Team09LogicU.AndroidServices.IDeptStaffService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Team09LogicU.AndroidServices.StoreStaffService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="Team09LogicU.AndroidServices.IStoreStaffService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Team09LogicU.AndroidServices.AdjustmentCartItemService" behaviorConfiguration="metadataBehavior">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="webHttpBinding" contract="Team09LogicU.AndroidServices.IAdjustmentCartItemService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>